body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
    height: 100%;
}
}

.bg-custom-1 {
    background-color: #85144b;
}
  
.bg-custom-2 {
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

#hover-dropdown:hover .dropdown-menu {
    display: block;
}

.card {
    border: none;
}

a.footer {
    color: #444444;
}

a.footer:hover {
    color: #fe302f;
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}

/* CSS to remove the focus outline on the button */
.back-to-top:focus,
.back-to-top:active {
    outline: none;
    border: none; /* Remove the default focus outline */
}

img {
    max-width: 100%; 
}

.productImage img {
    width: 100%;
    transition: 0.5s all ease-in-out;
    cursor: pointer;
}

.productImage:hover img {
    transform: scale(1.2);
}
/*
.rating {
    display: flex;
    align-items: center;
    justify-content: center;
}
*/
.preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; 
}

@media screen and (max-width: 996px) {
    .preview {
        margin-bottom: 20px; 
    } 
}
  
.preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; 
}

.preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px; 
}

.preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; 
}
        
.preview-thumbnail.nav-tabs li img {
    max-width: 100%;
    display: block; 
}

.preview-thumbnail.nav-tabs li a {
    padding: 0;
    margin: 0; 
}
                
.preview-thumbnail.nav-tabs li:last-of-type {
    margin-right: 0; 
}
      
.tab-content {
    overflow: hidden; 
}

.tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: .3s;
    animation-duration: .3s; 
}

.card {
    margin-top: 50px;
    padding: 3em;
    line-height: 1.5em; 
}
  
@media screen and (min-width: 997px) {
    .wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } 
}
  
.details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; 
}

.colors {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; 
}
  
.product_title, .price, .sizes, .colors {
    text-transform: UPPERCASE;
    font-weight: bold; 
}
  
.checked, .price span {
    color: #ff9f1a; 
}
  
.product_title, .rating, .product_description, .price, .vote, .sizes {
    margin-bottom: 15px; 
}
  
.product_title {
    margin-top: 0; 
    color: #fe302f;
}

.product_old_price {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
}

.product_old_price::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
}

.price-container {
    display: flex; /* Display the prices in a row */
    align-items: center; /* Vertically center the prices */
}

.product_old_price,
.product_price {
    margin-right: 10px; /* Add some spacing between the prices */
}

.size {
    margin-right: 10px; 
}

.size:first-of-type {
    margin-left: 40px; 
}
  
.color {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 2em;
    width: 2em;
    border-radius: 2px; 
}
.color:first-of-type {
    margin-left: 20px; 
}
  
.add-to-cart {
    background: #fe302f;
    padding: 1.2em 1.5em;
    border: none;
    text-transform: UPPERCASE;
    font-weight: bold;
    color: #fff;
    -webkit-transition: background .3s ease;
    transition: background .3s ease; 
}

.add-to-cart:hover {
    background: #f94e4e;
    color: #fff; 
}

.not-available {
    text-align: center;
    line-height: 2em; 
}

.not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; 
}
  
.tooltip-inner {
    padding: 1.3em; 
}

@-webkit-keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(3);
              transform: scale(3); 
    }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1); 
            } 
}
  
@keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(3);
              transform: scale(3); 
    }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1); 
    } 
}

/* Style for the radio buttons */
.size-label input[type="radio"] {
  display: none;
}

/* Style for the toggle buttons */
.size-toggle {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.size-toggle.active {
  background-color: #fe302f;
  color: #fff;
  border-color: #fe302f;
}